<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Заголовок  -->
    <h1>products list: </h1>
    <!-- список -->
    <ul>
        <!-- испольхуем метод forEach который перебирает каждый елемент списка -->
        <% products.forEach((product) => {%>
            <!-- выводим переменную в html испоьзуя ejs код  -->
            <li><%= product %></li>
        <%})%>
    </ul>
</body>
</html>